@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.watermask {
  position: absolute;
  will-change: transform;
  left: 0;
  top: 0;
  bottom: 0;
  right: -300vw;
  --size: 50px;
  --mask: radial-gradient(75.15px at 50% 101.5px, #000 99%, #0000 101%)
      calc(50% - 70px) 0/140px 100%,
    radial-gradient(75.15px at 50% -66.5px, #0000 99%, #000 101%) 50% 35px/140px
      100% repeat-x;
  /* --mask: radial-gradient(var(--size) at 25% 0%, #0000 98%, #000) 50%
      var(--size) / calc(4 * var(--size)) 100% repeat-x,
    radial-gradient(var(--size) at 75% 50%, #000 99%, #0000 101%)
      top/calc(4 * var(--size)) calc(2 * var(--size)) repeat-x; */

  -webkit-mask: var(--mask);
  mask: var(--mask);

  animation: wave 100s linear infinite;
}

@media (max-width: 640px) {
  .watermask {
    --size: 25px;
    --mask: radial-gradient(37.575px at 50% 50.75px, #000 99%, #0000 101%)
        calc(50% - 35px) 0/70px 100%,
      radial-gradient(37.575px at 50% -33.25px, #0000 99%, #000 101%) 50% 17.5px/70px
        100% repeat-x;
  }
}

@keyframes wave {
  100% {
    transform: translate3d(-300vw, 0, 0px);
  }
}
